* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.center {
	text-align: center;
	font-size: 2rem;
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	font-size: 2rem;
}

.container .computerLeft {
	background-color: rgb(58, 180, 228);
	width: 300px;
	text-align: center;
	height: 15vh;
	padding-top: 20px;
	margin-right: 50px;
}

.container .playerRight {
	background-color: rgb(226, 126, 134);
	width: 300px;
	text-align: center;
	padding-top: 20px;
}

.playArea {
	justify-content: space-between;
	display: flex;
	justify-content: center;
	margin-top: 7rem;
}

.buttons {
}
.buttons .btn {
	height: 60px;
	width: 90px;
	color: black;
	border-radius: 5px;
	background: rgb(204, 203, 203);
	font-size: 1rem;
	margin: 0 10px;
}

.instructions {
	font-size: 2rem;
	text-align: center;
	padding: 20px;
}

#listLeft li,
#listRight li {
	list-style: none;
}

.results {
	display: grid;
	text-align: center;
	font-size: 3rem;
	margin-top: 50px;
}
#resultDisplay {
	display: grid;
	text-align: center;
	font-size: 2rem;
	margin: 20px;
	height: 20px;
}

.again {
	display: none;
}

.hide {
	display: none;
}

/* #playAgain {
	display: none;
} */

.show {
	display: contents;
}
